langchain
flask==3.1.1
sentence-transformers==4.1.0
pypdf==5.6.1
python-dotenv==1.1.0
langchain-community
streamlit
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.7.4
chromadb
langchain-chroma
langchain-groq

-e .